*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/*  */
h1{
    color: rgb(236, 206, 170);
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
}
 /* table styling */
table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(183, 221, 212);
    width: 35%;
    height:70vh;
    background-color: white;
    border-radius: 10px;
}
/* result box styling */
.result-box{
background-color: aliceblue;
color: black;
border: 1px solid rgba(102, 156, 143, 0.89);
padding: 2em;
width: 100%;
height: 100%;
border-radius: 10px;
font-size: 25px;
}
/* table data styling */
td{
    background-color: steelblue;
    color: white;
    border: 1px solid;
    margin: 2px;
    text-align: center;
    border-radius: 10px;
}
/* input styling */
input{
    padding: 15px;
    background-color: steelblue;
    color: white;
    border: none;
    font-size:18px ;
}
#result{
    text-align: end;
}